<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat room</title>
</head>
<body>
  <h3>Messages:</h3>
  <ul id="list-msgs">
    
  </ul>
  <textarea id="new-msg" cols="30" rows="5" placeholder="New message"></textarea>
  
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io(); // Inicializamos socketIO en el cliente
    
    /**
     * Listener para el evento 'chat message'
     *   Notese que es el mismo evento que se envia 
     *   desde el servidor.
     * Agregamos el mensage entrante a la lista.
     */
    socket.on('chat message', function (msg) {
      $('#list-msgs').append( $('<li>').text(msg) );
    });
    
    /**
     * Emitimos un evento de tipo 'chat message' cada vez
     * que se presiona 'Enter' en el textarea y enviamos
     * su contenido como mensaje.
     */
    $('#new-msg').keyup(function (evt) {
      if (evt.keyCode === 13) {
        socket.emit('chat message', $('#new-msg').val());
        $('#new-msg').val('');
      }
    });
  </script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Whatsapp Web</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="image/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="css/icomoon.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500" media="all">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/queries.css">

	
</head>
<body>

	<header class="encabezado">

	</header>
	<main>
		<div class="container">
			<div class="row">
				<aside class="w-contacts">
					<header class="header">
						<div class="header-logo">
							<div class="avatar">
								<img src="image/gian.jpg"/>
							</div>
						</div>
						<div class="header-logo">
							<span class="icon icon-message"></span>
							<span class="icon icon-dots-three-vertical"></span>
						</div>
					</header>
					<section class="barra-contactos">
						<div class="search">
							<input id="search"  class="search-escribe" placeholder="Buscar o empezar un chat nuevo" />
						</div>
						<div class="scroll">
							<div class="contact" id="0" data="0">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/logocodeacademy.png"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">Laboratoria Perú</h2>
										<span class="chat-time" id="time0">14:25</span>
									</div>
									<div class="chat-status">
										<span class="0">Aldo: Dale dale!</span>
									</div>
								</div>
							</div>
							<div class="contact" id="1" data="1">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/raymi.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">Raymi Saldomando</h2>
										<span class="chat-time" id="time1">11:25</span>
									</div>
									<div class="chat-status">
										<span class="1">La clase va bien!</span>
									</div>
								</div>
							</div>
							<div class="contact" id="2" data="2">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/mariana.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">Mariana Costa</h2>
										<span class="chat-time" id="time2">09:25</span>
									</div>
									<div class="chat-status">
										<span class="2">El panel de spearkers esta buanazo</span>
									</div>
								</div>
							</div>
							<div class="contact" id="3" data="3">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/anamaria.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">	Ana María Martinez Franklin</h2>
										<span class="chat-time" id="time3">Ayer</span>
									</div>
									<div class="chat-status">
										<span class="3">Pues dale chamo!</span>
									</div>
								</div>
							</div>
							<div class="contact" id="4" data="4">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/rodulfo.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">Rodulfo Prieto</h2>
										<span class="chat-time" id="time4">	Martes</span>
									</div>
									<div class="chat-status">
										<span class="4">¿Cómo van las chicas?</span>
									</div>
								</div>
							</div>
							<div class="contact" id="5" data="5">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/andrea.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">	Andrea Lamas</h2>
										<span class="chat-time" id="time5">Lunes</span>
									</div>
									<div class="chat-status">
										<span class="5">Hoy me toca clases de canto, yee!</span>
									</div>
								</div>
							</div>
							<div class="contact" id="6" data="6">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/mariapaula.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">	Maria Paula Rivarola</h2>
										<span class="chat-time" id="time6">13/01/2016</span>
									</div>
									<div class="chat-status">
										<span class="6">Wuju! esto me encanta!! en verdad!</span>
									</div>
								</div>
							</div>
							<div class="contact" id="7" data="7">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/katy.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">	Katy Sanchez </h2>
										<span class="chat-time"id="time7">11/01/2016</span>
									</div>
									<div class="chat-status">
										<span class="7">No te preocupes, tengo el salón bajo control</span>
									</div>
								</div>
							</div>
							<div class="contact" id="8" data="8">
								<div class="contact-logo chat">
									<div class="avatar">
										<img src="image/aldo.jpg"/>
									</div>
								</div>
								<div class="contact-chat-body">
									<div class="chat-main">
										<h2 class="chat-title">Aldo Alfaro</h2>
										<span class="chat-time"id="time8">03/01/2016</span>
									</div>
									<div class="chat-status">
										<span class="8">Vao a comer?</span>
									</div>
								</div>
							</div>
						</div>
					</section>
				</aside>
				<article>
					<header class="header">
						<div class="header-logo chat">
							<div  class="avatar">
								<img id="avatar"src="image/logocodeacademy.png"/>
							</div>
							<div class="chat-body">
								<div class="chat-main">
									<h2 id="chat-title" class="chat-title">Laboratoria Perú</h2>
								</div>
								<div id="chat-status" class="chat-status">
									<span>Ana Maria, Aldo, Gian, Mariana, Papu, Tú</span>
								</div>
							</div>
						</div>
						<div class="header-logo">
							<span class="icon icon-attachment"></span>
							<span class="icon icon-dots-three-vertical"></span>
						</div>
					</header>
					<section class="pane-body">
						<div id="pane-chat-msgs">
							<div class="msg">
								<h5 class="celeste">Andrea Lamas</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Chicos han visto el nuevo corte de Aldo?</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:12</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="rosa">Mariana Costa</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>¿Finalmente se corto?</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:13</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="verde">Maria Paula Rivarola</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Jajaja Sii finalmente se corto!!</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:12</span>
										</div>
									</div>
								</div>
							</div>
							<div class="total-i">
								<div class="msg-i">
									<div class="message-i">
										<div class="bubble-i">
											<div class="message-text-i t-right">
												<span>Antes parecia mufasa jajaja</span>	
											</div>
											<div class="time-chat t-right">
												<span class="">11:14</span>
											</div>
										</div>
									</div>
								</div>
								<div class="msg-i">
									<div class="message-i">
										<div class="bubble-i">
											<div class="message-text-i t-right">
												<span>Ahora si esta decente</span>	
											</div>
											<div class="time-chat t-right">
												<span class="">11:18</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="celeste">Andrea Lamas</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>¿Por qué se lo habrá cortado?</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:20</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="amarillo">Aldo Alfaro</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Ya ya ya, hacia mucho calor que más</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:25</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="celeste">Andrea Lamas</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Esta siguiendo los pasos de Juan Diego!</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:30</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5  class="verde">Maria Paula Rivarola</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Nunca!!! Juan Diego es único</span>
										</div>
										<div class="time-chat t-right">
											<span class="">11:31</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="celeste">Andrea Lamas</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Chicos han visto el nuevo corte de Aldo?</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:12</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="rosa">Mariana Costa</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>¿Finalmente se corto?</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:13</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="verde">Maria Paula Rivarola</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Jajaja Sii finalmente se corto!!</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:12</span>
										</div>
									</div>
								</div>
							</div>
							<div class="total-i">
								<div class="msg-i">
									<div class="message-i">
										<div class="bubble-i">
											<div class="message-text-i t-right">
												<span>Antes parecia mufasa jajaja</span>	
											</div>
											<div class="time-chat t-right">
												<span class="">11:14</span>
											</div>
										</div>
									</div>
								</div>
								<div class="msg-i">
									<div class="message-i">
										<div class="bubble-i">
											<div class="message-text-i t-right">
												<span>Ahora si esta decente</span>	
											</div>
											<div class="time-chat t-right">
												<span class="">11:18</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="celeste">Andrea Lamas</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>¿Por qué se lo habrá cortado?</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:20</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="amarillo">Aldo Alfaro</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Ya ya ya, hacia mucho calor que más</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:25</span>
										</div>
									</div>
								</div>
							</div>
							<div class="msg">
								<h5 class="celeste">Andrea Lamas</h5>
								<div class="message">
									<div class="bubble">
										<div class="message-text">
											<span>Esta siguiendo los pasos de Juan Diego!</span>	
										</div>
										<div class="time-chat t-right">
											<span class="">11:30</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="block-menssage">
						<div class="ingresa-menssage">
							<div class="caricatura icon-insert_emoticon">	
							</div>
							<div class="escribe-message">
								<input id="escribe" class="escribe" type="text" name="escribe" value="" placeholder="Escribe tu mensaje aquí"   />
							</div>
							<div class="micro icon-mic">
							</div>
						</div>
					</section>

						
					</article>
				</div>
			</div>
		</main>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/contacto.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
	</html> -->